<h1>Hello World from index</h1>


<a href='/demo/hello'>Hello page</a> <br />

<%= link_to('hello page 2', {:action => 'hello'})%> <br />


<%= link_to('hello page with parameters', {:action => 'hello', :page => 5,:name => 'Dan', :id => 1 }) %> <br />
