<%= link_to("<< Back to List", sections_path(page_id: @page.id), class: 'back-link') %>

<div class="sections edit">
  <h2>Edit Section</h2>

  <%# <% form_for(@section, url: sections_path, method: :post) do |f| %>
  <%= form_for(@section, url: sections_path(@section, page_id: @page.id)) do |f| %>
    <%= render(partial: 'form', locals: {f: f})%>

    <div class="form-buttons">
      <%= f.submit("Update section") %>
    </div>
  <% end %>
</div>
